<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street_number %><br>
    <%= f.number_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :unit_number %><br>
    <%= f.text_field :unit_number %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :full_address %><br>
    <%= f.text_field :full_address %>
  </div>
  <div class="field">
    <%= f.label :property_type %><br>
    <%= f.select :property_type, collection: ["Home","Multi-Family","Apartment","Land"] %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :current_list_price %><br>
    <%= f.text_field :current_list_price %>
  </div>
  <div class="field">
    <%= f.label :sold_price %><br>
    <%= f.text_field :sold_price %>
  </div>
  <div class="field">
    <%= f.label :sqft %><br>
    <%= f.text_field :sqft %>
  </div>
  <div class="field">
    <%= f.label :sqft_price %><br>
    <%= f.text_field :sqft_price %>
  </div>
  <div class="field">
    <%= f.label :lot_sqft %><br>
    <%= f.text_field :lot_sqft %>
  </div>
  <div class="field">
    <%= f.label :year_built %><br>
    <%= f.number_field :year_built %>
  </div>
  <div class="field">
    <%= f.label :listing_office %><br>
    <%= f.text_field :listing_office %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br>
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :half_bathrooms %><br>
    <%= f.text_field :half_bathrooms %>
  </div>
  <div class="field">
    <%= f.label :full_bathrooms %><br>
    <%= f.number_field :full_bathrooms %>
  </div>
  <div class="">
    <%= f.label :has_garage %><br>
    <%= f.check_box :has_garage %><br>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $('input[name="property[has_garage]"]').click(function(){
            if($(this).attr("value")=="1"){
                $("#property_garage_size").toggle();
            }
        });
    });
  </script>
  
  <div class="field" id="property_garage_size" style="display:none;">
    <%= f.label :garage_size %><br>
    <%= f.number_field :garage_size %>
  </div>
  <div class="field">
    <%= f.label :favorited %><br>
    <%= f.number_field :favorited %>
  </div>
  <div class="field">
    <%= f.label :fake_favorited %><br>
    <%= f.number_field :fake_favorited %>
  </div>
  <div class="field">
    <%= f.label :featured %><br>
    <%= f.file_field :featured %>
  </div>
  <br>
  <p>
    tu madre
  </p>
  <%= file_field_tag "images[]", type: :file, multiple: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
