<% navigation render 'navigation/interior' %>
<% body_class 'property-show-page' %>
<!-- <p id="notice"><%= notice %></p> -->
<section class="full-address">
  <div class="contianer-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3><%= @property.street_number %> <%= @property.street_name %>, <%= @property.city %>, FL <%= @property.zip %></h3>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding:0;">
      <div class="owl-carousel">
        <% @property.images.each do |img| %>
          <%= image_tag img.image(:original), class: "item img-responsive" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        afterUpdate: function () {
            updateSize();
        },
        afterInit:function(){
            updateSize();
        },
        items: 3,
        center: true,
        navRewind:true,
        loop:true,
        margin:0,
        nav:true,
        navText:["<i class='fa fa-angle-left fa-5x'></i>","<i class='fa fa-angle-right fa-5x'></i>"]
    });
    function updateSize(){
        var minHeight=parseInt($('.owl-item').eq(0).css('height'));
        $('.owl-item').each(function () {
            var thisHeight = parseInt($(this).css('height'));
            minHeight=(minHeight<=thisHeight?minHeight:thisHeight);
        });
        $('.owl-wrapper-outer').css('height',minHeight+'px');
    }
</script>


<section class="property-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-8">
          <div class="address">
            <h2><%= @property.full_address %>
              <% unless @property.unit_number.blank? %>
                , Unit#<%= @property.unit_number %>
              <% end %>
              <br>
              <%= @property.city %>, FL <%= @property.zip %></h2>
          </div>
          <div class="property-description">
            <p><%= raw @property.description %></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="property-box">
            <div class="property-type">
              <p><strong>Property type:</strong> <span><i class="fa fa-home"></i></span> <%= @property.property_type %></p>
            </div>
            <div class="property-features">
              <div class="features">
                <ul>
                  <li><img class="first" src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/bedroom.png" alt="Bedrooms" /><%= @property.bedrooms %></li>
                  <li><img src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/bathroom.png" alt="Bathroom" /><%= @property.full_bathrooms %><%= @property.half_bathrooms %></li>
                  <li><img src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/garage.png" alt="Garage" /><% unless @property.has_garage == false %><%= @property.garage_size %><% end %></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>








<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>Current list price:</strong>
  <%= @property.current_list_price %>
</p>

<p>
  <strong>Sold price:</strong>
  <%= @property.sold_price %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @property.sqft %>
</p>

<p>
  <strong>Sqft price:</strong>
  <%= @property.sqft_price %>
</p>

<p>
  <strong>Lot sqft:</strong>
  <%= @property.lot_sqft %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Listing office:</strong>
  <%= @property.listing_office %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @property.condition %>
</p>


<p>
  <strong>Favorited:</strong>
  <%= @property.favorited %>
</p>

<p>
  <strong>Fake favorited:</strong>
  <%= @property.fake_favorited %>
</p>



<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag @property.featured.url(:original), class: 'img-responsive' %>
    </div>
  </div>
</div>






<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
