<% navigation render 'navigation/interior' %>
<% body_class 'property-show-page' %>
<!-- <p id="notice"><%= notice %></p> -->
<section class="full-address">
  <div class="contianer-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3><%= @property.street_number %> <%= @property.street_name %>, <%= @property.city %>, FL <%= @property.zip %></h3>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding:0;">
      <div class="owl-carousel">
        <% @property.images.each do |img| %>
          <%= image_tag img.image(:original), class: "item img-responsive" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        afterUpdate: function () {
            updateSize();
        },
        afterInit:function(){
            updateSize();
        },
        items: 3,
        center: true,
        navRewind:true,
        loop:true,
        margin:0,
        nav:true,
        navText:["<i class='fa fa-angle-left fa-5x'></i>","<i class='fa fa-angle-right fa-5x'></i>"]
    });
    function updateSize(){
        var minHeight=parseInt($('.owl-item').eq(0).css('height'));
        $('.owl-item').each(function () {
            var thisHeight = parseInt($(this).css('height'));
            minHeight=(minHeight<=thisHeight?minHeight:thisHeight);
        });
        $('.owl-wrapper-outer').css('height',minHeight+'px');
    }
</script>


<section class="property-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-8">
          <div class="address">
            <h2><%= @property.full_address %>
              <% unless @property.unit_number.blank? %>
                , Unit#<%= @property.unit_number %>
              <% end %>
              <br>
              <%= @property.city %>, FL <%= @property.zip %></h2>
          </div>
          <div class="property-description">
            <p><%= raw @property.description %></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="property-box">
            <div class="property-type">
              <p><span>Property type:</span> <span class="the-property"><i class="fa fa-home fa-1_5x"></i> <%= @property.property_type %></p></span>
            </div>
            <div class="property-features">
              <div class="features">
                <ul>
                  <li><img class="first" src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/bedroom.png" alt="Bedrooms" /><%= @property.bedrooms %></li>
                  <li><img src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/bathroom.png" alt="Bathroom" /><%= @property.full_bathrooms %><%= @property.half_bathrooms %></li>
                  <% unless @property.has_garage == false %>
                    <li><img src="https://s3-us-west-2.amazonaws.com/kasa-dev/images/property-icons/garage.png" alt="Garage" /><%= @property.garage_size %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="more-info">
              <p><b>Other Features:</b></p>
              <p>Built <%= @property.year_built %><% @property.features.each do |f| %>, <%= f.name %><% end %></p>
              <p>
                <a href="#" class="k-blue mr-15">Favorite</a>
                <a href="#" class="k-blue">Share</a>
              </p>
              <hr>
              <div class="row">
                <div class="col-md-8">
                  <h2><%= number_to_currency(@property.current_list_price, :unit => "$") %></h2>
                  <p class="sqft-price"><%= number_to_currency((@property.current_list_price/@property.sqft), :unit => "$", :precision => 0) %>/sf</p>
                </div>
                <div class="col-md-4">
                  <p class="status mt-15"><b><%= @property.status %></b></p>
                  <p class="mt-15"><b><%= ((Time.zone.now - @property.created_at) / 3600).to_i.round %>hrs ago</b></p>
                </div>
              </div>
            </div>

            <div class="mt-10"></div>

            <div class="row">
              <div class="col-sm-12">
                <a href="#" class="create-an-offer">CREATE AN OFFER</a>
              </div>
            </div>

            <div class="mt-10"></div>

            <div class="row">
              <div class="col-sm-12">
                <a href="#" class="request-showing">REQUEST SHOWING</a>
              </div>
            </div>

            <div class="mt-10"></div>

            <div class="row">
              <div class="col-sm-12">
                <a href="#" class="request-info">Request More Info</a>
              </div>
            </div>

            <div class="mt-20"></div>
            <div class="row">
              <div class="col-sm-12">
                <p class="learn-more">Get a <b>$6,475</b> refund when you buy with KASA. <a href="#" class="k-blue">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
