<p id="notice"><%= notice %></p>
<p>
  <strong>Mls listing number:</strong>
  <%= @property.mls_listing_number %>
</p>

<p>
  <strong>Mls name:</strong>
  <%= @property.mls_name %>
</p>

<p>
  <strong>Mls sources:</strong>
  <%= @property.mls_sources %>
</p>

<p>
  <strong>Mls date added:</strong>
  <%= @property.mls_date_added %>
</p>

<p>
  <strong>Mls date modified:</strong>
  <%= @property.mls_date_modified %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @property.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @property.street_name %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @property.unit_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @property.full_address %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Last update description:</strong>
  <%= @property.last_update_description %>
</p>

<p>
  <strong>Short last update description:</strong>
  <%= @property.short_last_update_description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>Current list price:</strong>
  <%= @property.current_list_price %>
</p>

<p>
  <strong>Sold price:</strong>
  <%= @property.sold_price %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @property.sqft %>
</p>

<p>
  <strong>Sqft price:</strong>
  <%= @property.sqft_price %>
</p>

<p>
  <strong>Lot sqft:</strong>
  <%= @property.lot_sqft %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Listing office:</strong>
  <%= @property.listing_office %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @property.condition %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @property.bedrooms %>
</p>

<p>
  <strong>Half bathrooms:</strong>
  <%= @property.half_bathrooms %>
</p>

<p>
  <strong>Full bathrooms:</strong>
  <%= @property.full_bathrooms %>
</p>

<p>
  <strong>Favorited:</strong>
  <%= @property.favorited %>
</p>

<p>
  <strong>Fake favorited:</strong>
  <%= @property.fake_favorited %>
</p>

<%= @property.images.each do |img| %>
  <%= image_tag img.image(:original) %>
<% end %>


<%= image_tag @property.featured.url(:original) %>





<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
