					<!-- BEGIN PORTLET-->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Offers / Activity</span>
								<span class="caption-helper hide">weekly stats...</span>
							</div>
							<div class="actions">
 
                                                          <div class="btn-group">
                                                            <a class="btn green btn-circle btn-sm accept-offer" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Accept (Offer)
                                                            <i class="fa zfa-thumbs-o-up"></i>
                                                            </a>
                                                            <a class="btn green btn-circle btn-sm accept-counter" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Accept (Counter)
                                                            <i class="fa zfa-thumbs-o-up"></i>
                                                            </a>
                                                            <a class="btn green btn-circle btn-sm counter" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Counter
                                                            <i class="fa zfa-mail-reply"></i>
                                                            </a>
                                                            <a class="btn green btn-circle btn-sm decline-counter" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Decline Counter
                                                            <i class="fa zfa-shield"></i>
                                                            </a>
                                                            <a class="btn green btn-circle btn-sm decline-offer" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Decline Offer
                                                            <i class="fa zfa-shield"></i>
                                                            </a>


                                                </div>




							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable table-scrollable-borderless">
								<table class="table table-hover table-light">
								<thead>
								<tr class="uppercase">
									<th>
										 &nbsp;
									</th>
									<th>
										 FROM
									</th>
									<th>
										 TO
									</th>
									<th>
										 &nbsp;
									</th>
									<th>
										 Property
									</th>

									<th>
										 DATE
									</th>
								</tr>
								</thead>
                                                                <% items = Negotiation.all.order(ndate: :desc) if current_user.admin %>
                                                                <% items = Negotiation.where("src = ? OR dst = ?", current_user.id, current_user.id).all.order(ndate: :desc) %>
                                                                <% items.each do |item| %>
								<tr data-ntype="<%=item.ntype%>" data-src="<%=item.src%>" data-dst="<%=item.dst%>" data-property-id="<%=item.property_id%>">
                                                                        <td><input type="checkbox" class="zliChild" value=""></td>
									<td class="fit">
										<img class="user-pic" src="/users/<%= item.src %>/show_picture"><br>
										<a href="<%= url_for(User.find(item.src))%>" class="primary-link"><%= User.find(item.src).email.split('@')[0].titleize %></a>
									</td>
									<td>
									  <img class="user-pic" src="/users/<%= item.dst %>/show_picture"><br>
										<a href="<%= url_for(User.find(item.dst))%>" class="primary-link"><%= User.find(item.dst).email.split('@')[0].titleize %></a>
									</td>


									<td>
										 <%= item.details %>
									</td>
                                                                        <td>
                                                                          <%= Property.find(item.property_id).address[0..15] %>
                                                                        </td>
									<td>
										<span class="bold theme-font"><%= item.ndate.strftime('%m-%d') %></span>
									</td>
								</tr>
                                                                <% end %>
								</table>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
