
					
<!-- BEGIN PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm" href="javascript:;" onclick="$('.jstree_demo_div').jstree('open_all');" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Expand All
                                                            
                    <i class="fa zfa-thumbs-o-up"></i>
                </a>
                <a class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm" href="javascript:;" onclick="$('.jstree_demo_div').jstree('close_all');" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Collapse All
                                                            
                    <i class="fa zfa-thumbs-o-up"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END PORTLET-TITLE --
    <!-- BEGIN BODY-->
    <div class="portlet-body">
        <% nlist = Negotiation.all.group_by { |x| [x.seller_id, x.buyer_id, x.property_id] } %>
        <div id="jstree_demo_div_#{rand(1..10000)}" class="jstree_demo_div">
            <ul>
                <% nlist.each do |neg| %><% property = Property.find(neg[0][2]) %>
                    <li>
                        &nbsp;&nbsp;
                        <% if property.images_tot_available > 0 %>
                            <img class="user-pic"  src="<%= "http://kasa-staging-02.s3.amazonaws.com/#{property.listing_id}_#{0}.jpg" %>" style="border-radius: 0%; height: 29px; cursor: pointer" onclick="location='<%="/pages/listing_details/#{property.listing_id}"%>'">
	                <% else %>
                            <img class="user-pic" src="<%= "http://kasa-staging-02.s3.amazonaws.com/#{"FE9E0000"}_#{0}.jpg" %>" style="border-radius: 0%; height: 29px; cursor: pointer" onclick="location='<%="/pages/listing_details/#{property.listing_id}"%>'">
                        <% end %>
	                &nbsp;&nbsp;
                        <span href="<%= "/pages/listing_details/#{property.listing_id}" %>" class="primary-link" style="cursor: pointer" onclick="location='<%="/pages/listing_details/#{property.listing_id}"%>'">
                            <%= truncate(property.address, length: 17) %>
                        </span>
	                &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="label label-sm label-danger invisible">&nbsp;</div>
                        <img alt="" class="img-circle" src="/users/<%= neg[0][0]%>/show_picture" height="25" style="cursor: pointer" onclick="location='/users/<%=neg[0][0]%>'">
                        <img alt="" class="img-circle" src="/users/<%= neg[0][1]%>/show_picture" height="25" style="cursor: pointer" onclick="location='/users/<%=neg[0][1]%>'">
                        <ul>
		            <% neg[1].each do |n| %>
                                <% if n.ntype == "offered" %>
                                    <li data-jstree='{"icon":"fa fa-money"}'>
                                        <span onclick="location='/users/<%=n.buyer_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.buyer_id).nick %></span>
			                Offered  <%= number_to_currency(n.amount, precision: 0) %>
			                to
					<span onclick="location='/users/<%=n.seller_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.seller_id).nick %></span>
                                    </li>
                                <% elsif n.ntype == "declined" %>
                                    <li data-jstree='{"icon":"fa fa-times-circle-o"}'>
                                      <span onclick="location='/users/<%=n.seller_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.seller_id).nick %></span> Declined </li>
                                <% elsif n.ntype == "baccepted" %>
                                    <li data-jstree='{"icon":"fa fa-flag-checkered"}'><span onclick="location='/users/<%=n.buyer_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.buyer_id).nick %></span> Accepted</li>
                                <% elsif n.ntype == "saccepted" %>
                                    <li data-jstree='{"icon":"fa fa-flag-checkered"}'><span onclick="location='/users/<%=n.seller_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.seller_id).nick %></span> Accepted</li>
                                <% elsif n.ntype == "scountered" %>
                                    <li data-jstree='{"icon":"fa fa-mail-forward"}'><span onclick="location='/users/<%=n.seller_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.seller_id).nick %></span> Countered with <%= number_to_currency(n.amount, precision: 0) %></li>
                                <% elsif n.ntype == "bcountered" %>
                                    <li data-jstree='{"icon":"fa fa-mail-forward"}'><span onclick="location='/users/<%=n.buyer_id%>'" style="pointer-events: auto; border-bottom: 1px dotted silver; cursor: pointer;"><%= User.find(n.buyer_id).nick %></span> Countered with <%= number_to_currency(n.amount, precision: 0) %></li>
                                <% else %>
                                    <li data-jstree='{"icon":"fa fa-wechat"}'><%= n.ntype %></li>
                                <% end %>
			    <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
	<!-- END *JSTREE -->
    </div>
    <!-- END PORTLET-BODY -->
</div>
<!-- END PORTLET-->
                                                                          










